{% extends "base.html" %}

{% block content %}

<div class="container p-5">
    <div class="row justify-content-md-center">
        <div class="col-lg-4 pt-2 align-self-center">
            <form class="card p-3 shadow" method="POST" action="">
                <h3 class="mb-4 text-center"> Iniciar sesión </h3>
                <div class="form-group mt-3">
                    {{ form.csrf_token }}
                    {{ form.username(class='form-control')|safe }}
                </div>
                <div class="form-group mt-3">
                    {{ form.password(class='form-control')|safe }}
                </div>
                <div class="row">
                    <div class="form-group mt-3 d-grid gap-2">
                        {{ form.submit( class='btn btn-success') }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group mt-3 d-grid gap-2">
                    <span> No tienes cuenta, 
                        <a class="font-weight-light" href="{{url_for('login.register')}}"> registrate</a>
                    </span>
                    </div>
                </div>
                
            </form>
        </div>
    </div>

{% endblock %}