{% extends "base.html" %}

{% block content %}
{% if graph_modalidad %}
<div class="row">
    <div class="col col-sm-6">

    </div>
    <div class="col col-sm-6">
        <h2 class="text-disable text-center mb-3 ">Referencias totales: <span style="color: #191E2E;">{{total_reference}}</span></h2>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-sm-6">
        <form class="card p-3 shadow p-4" method="POST" action="{{ url_for('stats.reference_stats') }}">
            <h3 class="mb-4"> Seleccione el período de búsqueda </h3>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group mt-1">
                        {{ form.csrf_token }}
                        {{ form.start_date.label(class='h5') }}
                        {{ form.start_date(class='form-control')|safe }}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group mt-1">
                        {{ form.csrf_token }}
                        {{ form.end_date.label(class='h5') }}
                        {{ form.end_date(class='form-control')|safe }}
                    </div>
                </div>
            </div>
            
            <div class="row mt-3">
                <div class="form-group mt-3 col-sm-4 d-grid gap-2">
                    <button class="btn btn-primary" type="submit"> {{font_awesome.render_icon("fa-solid fa-magnifying-glass")}} Buscar </button>
                </div>
                <div class="form-group mt-3 col-sm-4 d-grid gap-2">
                    {% if exportar %}
                        <a class="btn btn-primary" href="{{url_for('stats.export_report', start=exportar.0 ,end=exportar.1 )}}"> {{font_awesome.render_icon("fa-solid fa-magnifying-glass")}} Exportar a CSV </a>
                    {% endif %}
                </div>
            </div>  
        </form>    
    </div>

    <div class="col-sm-3">
        <div class="card-dash shadow" style="width: 16rem;">    
            <div class="card-body row">
                <div class="col-sm-8">
                    <h5 class="text-disable">Estudiantes</h5>
                    {% if estudiantes %}
                    <h2> {{estudiantes}} </h2>
                    {% else %}
                    <h2> 0 </h2>
                    {% endif %}
                </div>
                <div class="col-sm-4 d-flex justify-content-center" style="color: #83C4C6;">
                    <div class="d-flex align-items-center p-2 rounded mt-2 mb-2" style="background-color: #EFF8F9">
                        {{font_awesome.render_icon("fa-solid fa-graduation-cap fa-2xl")}}
                    </div>
                     
                </div>
            <hr class="hr-dashboard-green">
            </div>
        </div>
        
        <div class="card-dash shadow mt-2" style="width: 16rem;"> 
            <div class="card-body row">
                <div class="col-sm-8">
                    <h5 class="text-disable">Administrativos</h5>
                    {% if administrativos %}
                    <h2> {{administrativos}} </h2>
                    {% else %}
                    <h2> 0 </h2>
                    {% endif %}
                </div>
                <div class="col-sm-4 d-flex justify-content-center" style="color: #213580;">
                    <div class="d-flex align-items-center p-2 rounded mt-2 mb-2" style="background-color: #EDEEFA">
                        {{font_awesome.render_icon("fa-solid fa-user-tie fa-2xl")}}
                    </div>                     
                </div>
            <hr class="hr-dashboard-blue">
            </div>
        </div>

    </div>        
    
    <div class="col-sm-2">
        <div class="card-dash shadow" style="width: 16rem;">    
            <div class="card-body row">
                <div class="col-sm-8">
                    <h5 class="text-disable">Docentes</h5>
                    {% if docentes %}
                    <h2> {{docentes}} </h2>
                    {% else %}
                    <h2> 0 </h2>
                    {% endif %}
                </div>
                <div class="col-sm-4 d-flex justify-content-center" style="color: #213580;">
                    <div class="d-flex align-items-center p-2 rounded mt-2 mb-2" style="background-color: #EDEEFA">
                        {{font_awesome.render_icon("fa-solid fa-chalkboard-user fa-2xl")}}
                    </div>
                </div>       
            <hr class="hr-dashboard-blue">
            </div>
        </div>
        <div class="card-dash shadow mt-2" style="width: 16rem;">    
            <div class="card-body row">
                <div class="col-sm-8">
                    <h5 class="text-disable">Público Ext.</h5>
                    {% if externos %}
                    <h2> {{externos}} </h2>
                    {% else %}
                    <h2> 0 </h2>
                    {% endif %}
                </div>
                <div class="col-sm-4 d-flex justify-content-center" style="color: #6F9EF3;"> 
                    <div class="d-flex align-items-center p-2 rounded mt-2 mb-2" style="background-color: #F0F6FD">
                        {{font_awesome.render_icon("fa-solid fa-tree-city fa-2xl")}}
                    </div>
                </div>
            <hr class="hr-dashboard-blue-light">
            </div>
        </div>
    </div>
</div>

{% if graph_modalidad %}
<div class="row">
    
    <div class="row mt-3">
        <div style="width:47vw" class="col-sm-6">
            <div class="card p-3 shadow">
                <h4 class="mb-5 text-disable">Refencias realizadas por días</h2>
                <canvas id="line-plot"> </canvas>
            </div>

        </div>
        <div style="width:47vw" class="col-sm-6">
            <div class="card p-3 shadow">
                <h4 class="mb-5 text-disable">Modalidad de las referencias</h2>
                    <canvas id="bar-plot"></canvas>
                </canvas>
            </div>
    </div>
</div>



<script>
    // <!-- Grafico de barras para las modalidades -->
    var ctx = document.getElementById('bar-plot').getContext('2d');
    var Modalidad = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [
            {% for item in graph_modalidad["labels"] %}
            "{{ item }}",
            {% endfor %}
        ],
        datasets: [{
            label: 'Modalidad de las referencias realizadas',
            data: [
                {% for item in graph_modalidad["data"] %}
                "{{ item }}",
                {% endfor %}
            ],
            backgroundColor: [
                'rgba(75,88,213, 0.8)',
                'rgba(25,30,46, 0.8)',
            ],
            borderColor: [
                'rgba(75,88,213, 1)',
                'rgba(25,30,46, 1)',

            ],
            borderWidth: 1
        }]
    },
    options: {
        plugins:{
            legend: false
        },
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
    });
    
</script>
<script>
    // <!-- Grafico de lineas -->
    // Line chart
    var lpd = document.getElementById('line-plot').getContext('2d');
    var line = new Chart(lpd, {
        type: 'line',
        data: {
            labels: [
                {% for day, count in data_line_chart.items() %}
                    "{{ day }}",
                {% endfor %}
            ],
            datasets: [{
                label: '',
                data: [
                    {% for day, count in data_line_chart.items() %}
                        "{{ count }}",
                    {% endfor %}
                ],
                fill: false,
                borderColor: 'rgb(25,30,46)',
                tension: 0.1
                }]
            }
        })
</script>

{% endif %}
{% endblock %}